@import "../../../Variables.scss";

.titleSection,
.blurbSection {
    text-align: center;
}
.blurbSection {
    font-size: 1.5em;
}
.landscapeImage {
    margin-top: 30%;
}
.portraitImage {
    margin-top: 0%;
}