@import "../../../../Variables.scss";

.leftArrow,
.rightArrow {
    font-size: 2.5em;
    color: $navLinkColor;
    font-weight: bolder;
    padding-top: 5%;
    text-decoration: none;
}
.leftArrow:hover,
.rightArrow:hover {
    color: $accentColor;
    cursor: pointer;
    border-radius: .5em;
}
.leftArrow,
.rightArrow {
    text-align: center;
    padding-left: 0em;
    padding-right: 0em;
}
.mainImageSliderButtonSpacer {
    padding-top: 30%;
}
.slide {
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}
.imageSlider{
    margin: 1em 1em 0em;
    text-align: center;
}
.thumbnailBar{
    background-color: $secondaryColorDimmed;
    padding: 0.5em;
    box-shadow: 0 2px 8px $accentColorDimmed;
    border-radius: .5em;
    border: 1px $accentColor inset;
    text-align: center;
}
.image,
.thumbnail {
    box-shadow: 0 2px 8px $accentColorDimmed;
    border: 1px $navFontColor ridge;
    border-radius: .5em;
}

.thumbnail {
    margin: .1em .45em;
}