@import "../../Configs/Variables.scss";

.content {
    /* background-color: #ffffff;
    box-shadow: 0 2px 8px rgb(35 230 239 / 45%); */
    min-height: 75vh;
    margin-bottom: 2.5vh;
    /* border-radius: 14px; */
    padding: 0em 1em 2em;
}

