.centered{
    margin: 0 auto;
    text-align: center;
}
.centeredImage {
    width: 45%;
}
.notfoundInfo {
    font-size: 1.5em;
}
.notfoundInfo a {
    color: #243ebd;
}
.notfoundInfo a:hover {
    color: #40e6ef;
}
.notFoundImage {
    margin: 0em;
    padding: 0em;
    border-radius: .5em;
    border: 1px #23e6ef solid;
    box-shadow: 0px 0px 15px rgb(35 230 239 / 45%);
}
.empahsis {
    font-weight: bolder;
    font-size: 2.25em;
}
.centeredParagraphs {
    text-align: center;
}