@import "../../Configs/Variables.scss";

.navigationLinks {
    font-size: 1.75em;
    color: #ffffff !important;
}
.navigationLinks:hover {
    font-weight: bolder;
    background-color: #50555a;
    color: #23e6ef !important;
    border: 1px #23e6ef solid;
}