// Color Palette
$primaryColor: #ffffff;
$secondaryColor: #6c757d80;
$highlightColor: #23e6ef;
$highlightColorDimmed: #23e6ef73;
$navLinkColor: #6c757d;
$altNavLinkColor: #50555a;
$thumbnailColor: #bac2c980;

// Font Colors
$navFontColor: #ffffff;
$fontColor: #000000;
$notFoundPrimaryColor: #40e6ef;
$notFoundSecondaryColor: #243ebd;

// Font Selection
$headerFont: 'Shadows Into Light Two', cursive;
$titleFont: 'Shadows Into Light Two', cursive;
$defaultFont: 'Shadows Into Light Two', cursive;