@import "../../../Variables.scss";

.leftArrow,
.rightArrow {
    font-size: 2.5em;
    color: $navLinkColor;
    font-weight: bolder;
    padding-top: 30%;
    text-decoration: none;
}
.leftArrow:hover,
.rightArrow:hover {
    color: $highlightColor;
    cursor: pointer;
    border-radius: .5em;
}
.leftArrow {
    text-align: center;
    padding-left: 0em;
    padding-right: 0em;
}
.rightArrow {
    text-align: center;
    padding-left: 0em;
    padding-right: 0em;
}
.slide {
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}
.imageSlider{
    margin: 1em 1em 0em;
    text-align: center;
}
.thumbnailBar{
    background-color: $thumbnailColor;
    padding: 0.5em;
    box-shadow: 0 2px 8px $highlightColorDimmed;
    border-radius: .5em;
    border: 1px $highlightColor inset;
    text-align: center;
}
.image,
.thumbnail {
    box-shadow: 0 2px 8px $highlightColorDimmed;
    border: 1px $navFontColor ridge;
    border-radius: .5em;
}

.thumbnail {
    margin: .1em .45em;
}