@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
  font-family: 'Shadows Into Light Two', cursive;
  margin: 0;
  background-color: rgba(108, 117, 125, 0.5);
}
